In [2]:
import pandas as pd 


path = r"/home/said/Desktop/ai_2/AI_python/numPY/students.csv"
path2 = r"/home/said/Desktop/ai_2/AI_python/numPY/movie.csv"

df = pd.read_csv(path)
df2 = pd.read_csv(path2)

# print(df)
print(df2.head(30))
print(df.shape)

    Rank                                    Title                       Genre  \
0      1                  Guardians of the Galaxy     Action,Adventure,Sci-Fi
1      2                               Prometheus    Adventure,Mystery,Sci-Fi
2      3                                    Split             Horror,Thriller
3      4                                     Sing     Animation,Comedy,Family
4      5                            Suicide Squad    Action,Adventure,Fantasy
5      6                           The Great Wall    Action,Adventure,Fantasy
6      7                               La La Land          Comedy,Drama,Music
7      8                                 Mindhorn                      Comedy
8      9                       The Lost City of Z  Action,Adventure,Biography
9     10                               Passengers     Adventure,Drama,Romance
10    11  Fantastic Beasts and Where to Find Them    Adventure,Family,Fantasy
11    12                           Hidden Figures     Biography,Drama,History
12    13                                Rogue One     Action,Adventure,Sci-Fi
13    14                                    Moana  Animation,Adventure,Comedy
14    15                                 Colossal         Action,Comedy,Drama
15    16                  The Secret Life of Pets  Animation,Adventure,Comedy
16    17                            Hacksaw Ridge     Biography,Drama,History
17    18                             Jason Bourne             Action,Thriller
18    19                                     Lion             Biography,Drama
19    20                                  Arrival        Drama,Mystery,Sci-Fi
20    21                                     Gold    Adventure,Drama,Thriller
21    22                    Manchester by the Sea                       Drama
22    23                           Hounds of Love          Crime,Drama,Horror
23    24                                   Trolls  Animation,Adventure,Comedy
24    25             Independence Day: Resurgence     Action,Adventure,Sci-Fi
25    26                          Paris pieds nus                      Comedy
26    27                  Bahubali: The Beginning      Action,Adventure,Drama
27    28                               Dead Awake             Horror,Thriller
28    29                                 Bad Moms                      Comedy
29    30                         Assassin's Creed      Action,Adventure,Drama

                                          Description              Director  \
0   A group of intergalactic criminals are forced ...            James Gunn
1   Following clues to the origin of mankind, a te...          Ridley Scott
2   Three girls are kidnapped by a man with a diag...    M. Night Shyamalan
3   In a city of humanoid animals, a hustling thea...  Christophe Lourdelet
4   A secret government agency recruits some of th...            David Ayer
5   European mercenaries searching for black powde...           Yimou Zhang
6   A jazz pianist falls for an aspiring actress i...       Damien Chazelle
7   A has-been actor best known for playing the ti...            Sean Foley
8   A true-life drama, centering on British explor...            James Gray
9   A spacecraft traveling to a distant colony pla...         Morten Tyldum
10  The adventures of writer Newt Scamander in New...           David Yates
11  The story of a team of female African-American...        Theodore Melfi
12  The Rebel Alliance makes a risky move to steal...        Gareth Edwards
13  In Ancient Polynesia, when a terrible curse in...          Ron Clements
14  Gloria is an out-of-work party girl forced to ...       Nacho Vigalondo
15  The quiet life of a terrier named Max is upend...          Chris Renaud
16  WWII American Army Medic Desmond T. Doss, who ...            Mel Gibson
17  The CIA's most dangerous former operative is d...       Paul Greengrass
18  A five-year-old Indian boy gets lost on the st...           Garth Davis
19  When twelve mysterious spacecraft appear aroun...      Denis Villeneuve
20  Kenny Wells, a prospector desperate for a luck...        Stephen Gaghan
21  A depressed uncle is asked to take care of his...      Kenneth Lonergan
22  A cold-blooded predatory couple while cruising...             Ben Young
23  After the Bergens invade Troll Village, Poppy,...            Walt Dohrn
24  Two decades after the first Independence Day i...       Roland Emmerich
25  Fiona visits Paris for the first time to assis...        Dominique Abel
26  In ancient India, an adventurous and daring ma...        S.S. Rajamouli
27  A young woman must save herself and her friend...        Phillip Guzman
28  When three overworked and under-appreciated mo...             Jon Lucas
29  When Callum Lynch explores the memories of his...         Justin Kurzel

                                               Actors  Year  \
0   Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...  2014
1   Noomi Rapace, Logan Marshall-Green, Michael Fa...  2012
2   James McAvoy, Anya Taylor-Joy, Haley Lu Richar...  2016
3   Matthew McConaughey,Reese Witherspoon, Seth Ma...  2016
4   Will Smith, Jared Leto, Margot Robbie, Viola D...  2016
5       Matt Damon, Tian Jing, Willem Dafoe, Andy Lau  2016
6   Ryan Gosling, Emma Stone, Rosemarie DeWitt, J....  2016
7   Essie Davis, Andrea Riseborough, Julian Barrat...  2016
8   Charlie Hunnam, Robert Pattinson, Sienna Mille...  2016
9   Jennifer Lawrence, Chris Pratt, Michael Sheen,...  2016
10  Eddie Redmayne, Katherine Waterston, Alison Su...  2016
11  Taraji P. Henson, Octavia Spencer, Janelle Mon...  2016
12  Felicity Jones, Diego Luna, Alan Tudyk, Donnie...  2016
13  Auli'i Cravalho, Dwayne Johnson, Rachel House,...  2016
14  Anne Hathaway, Jason Sudeikis, Austin Stowell,...  2016
15  Louis C.K., Eric Stonestreet, Kevin Hart, Lake...  2016
16  Andrew Garfield, Sam Worthington, Luke Bracey,...  2016
17  Matt Damon, Tommy Lee Jones, Alicia Vikander,V...  2016
18  Dev Patel, Nicole Kidman, Rooney Mara, Sunny P...  2016
19  Amy Adams, Jeremy Renner, Forest Whitaker,Mich...  2016
20  Matthew McConaughey, Edgar Ram√≠rez, Bryce Dall...  2016
21  Casey Affleck, Michelle Williams, Kyle Chandle...  2016
22  Emma Booth, Ashleigh Cummings, Stephen Curry,S...  2016
23  Anna Kendrick, Justin Timberlake,Zooey Deschan...  2016
24  Liam Hemsworth, Jeff Goldblum, Bill Pullman,Ma...  2016
25  Fiona Gordon, Dominique Abel,Emmanuelle Riva, ...  2016
26  Prabhas, Rana Daggubati, Anushka Shetty,Tamann...  2015
27  Jocelin Donahue, Jesse Bradford, Jesse Borrego...  2016
28  Mila Kunis, Kathryn Hahn, Kristen Bell,Christi...  2016
29  Michael Fassbender, Marion Cotillard, Jeremy I...  2016

    Runtime (Minutes)  Rating   Votes  Revenue (Millions)  Metascore
0                 121     8.1  757074                 333       76.0
1                 124     7.0  485820                 126       65.0
2                 117     7.3  157606                 138       62.0
3                 108     7.2   60545                 270       59.0
4                 123     6.2  393727                 325       40.0
5                 103     6.1   56036                  45       42.0
6                 128     8.3  258682                 151       93.0
7                  89     6.4    2490                   0       71.0
8                 141     7.1    7188                   8       78.0
9                 116     7.0  192177                 100       41.0
10                133     7.5  232072                 234       66.0
11                127     7.8   93103                 169       74.0
12                133     7.9  323118                 532       65.0
13                107     7.7  118151                 249       81.0
14                109     6.4    8612                   3       70.0
15                 87     6.6  120259                 368       61.0
16                139     8.2  211760                  67       71.0
17                123     6.7  150823                 162       58.0
18                118     8.1  102061                  52       69.0
19                116     8.0  340798                 101       81.0
20                120     6.7   19053                   7       49.0
21                137     7.9  134213                  48       96.0
22                108     6.7    1115                   0       72.0
23                 92     6.5   38552                 154       56.0
24                120     5.3  127553                 103       32.0
25                 83     6.8     222                   0        NaN
26                159     8.3   76193                   7        NaN
27                 99     4.7     523                   0        NaN
28                100     6.2   66540                 113       60.0
29                115     5.9  112813                  55       36.0
(25, 2)

In [3]:
df2.shape

(1000, 12)

In [5]:
df2.head(9000)

,Rank,Title,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
0,1,Guardians of the Galaxy,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,James Gunn,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...",2014,121,8.1,757074,333,76.0
1,2,Prometheus,"Adventure,Mystery,Sci-Fi","Following clues to the origin of mankind, a te...",Ridley Scott,"Noomi Rapace, Logan Marshall-Green, Michael Fa...",2012,124,7.0,485820,126,65.0
2,3,Split,"Horror,Thriller",Three girls are kidnapped by a man with a diag...,M. Night Shyamalan,"James McAvoy, Anya Taylor-Joy, Haley Lu Richar...",2016,117,7.3,157606,138,62.0
3,4,Sing,"Animation,Comedy,Family","In a city of humanoid animals, a hustling thea...",Christophe Lourdelet,"Matthew McConaughey,Reese Witherspoon, Seth Ma...",2016,108,7.2,60545,270,59.0
4,5,Suicide Squad,"Action,Adventure,Fantasy",A secret government agency recruits some of th...,David Ayer,"Will Smith, Jared Leto, Margot Robbie, Viola D...",2016,123,6.2,393727,325,40.0
...,...,...,...,...,...,...,...,...,...,...,...,...
995,996,Secret in Their Eyes,"Crime,Drama,Mystery","A tight-knit team of rising investigators, alo...",Billy Ray,"Chiwetel Ejiofor, Nicole Kidman, Julia Roberts...",2015,111,6.2,27585,0,45.0
996,997,Hostel: Part II,Horror,Three American college students studying abroa...,Eli Roth,"Lauren German, Heather Matarazzo, Bijou Philli...",2007,94,5.5,73152,18,46.0
997,998,Step Up 2: The Streets,"Drama,Music,Romance",Romantic sparks occur between two dance studen...,Jon M. Chu,"Robert Hoffman, Briana Evigan, Cassie Ventura,...",2008,98,6.2,70699,58,50.0
998,999,Search Party,"Adventure,Comedy",A pair of friends embark on a mission to reuni...,Scot Armstrong,"Adam Pally, T.J. Miller, Thomas Middleditch,Sh...",2014,93,5.6,4881,0,22.0
999,1000,Nine Lives,"Comedy,Family,Fantasy",A stuffy businessman finds himself trapped ins...,Barry Sonnenfeld,"Kevin Spacey, Jennifer Garner, Robbie Amell,Ch...",2016,87,5.3,12435,20,11.0