In [5]:
data = {
    'olma' : [3, 2, 10, 1],
    'mandarin' : [20, 3,  2, 7]
}

In [22]:
data

{'olma': [3, 2, 10, 1], 'mandarin': [20, 3, 2, 7]}

In [7]:
import pandas as pd 

df = pd.DataFrame(data)

In [8]:
df

   olma  mandarin
0     3        20
1     2         3
2    10         2
3     1         7

In [9]:
df2 = pd.read_csv(r'C:\Users\User\Desktop\IT\AI_python\Pandas\fruit.csv')

In [10]:
df2

    cherry  strawberry
0      1.0        10.0
1      2.0         NaN
2      3.0        30.0
3      4.0        40.0
4      NaN        50.0
5      6.0        60.0
6      7.0        70.0
7      8.0         NaN
8      NaN        90.0
9     10.0       100.0
10    11.0       110.0
11     NaN       120.0
12    13.0       130.0
13    14.0         NaN

In [26]:
df3 = pd.DataFrame(data, index=['Jon', 'Smith', 'Mike', 'MedMax'])

In [27]:
df3

        olma  mandarin
Jon        3        20
Smith      2         3
Mike      10         2
MedMax     1         7

In [30]:
df3.loc["Jon"]

olma         3
mandarin    20
Name: Jon, dtype: int64

In [33]:
m_df = pd.read_csv(r'C:\Users\User\Desktop\IT\AI_python\Pandas\movie.csv', index_col='Title')

In [35]:
m_df.head(10)

,Rank,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
Title,,,,,,,,,,,
Guardians of the Galaxy,1,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,James Gunn,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...",2014,121,8.1,757074,333,76.0
Prometheus,2,"Adventure,Mystery,Sci-Fi","Following clues to the origin of mankind, a te...",Ridley Scott,"Noomi Rapace, Logan Marshall-Green, Michael Fa...",2012,124,7.0,485820,126,65.0
Split,3,"Horror,Thriller",Three girls are kidnapped by a man with a diag...,M. Night Shyamalan,"James McAvoy, Anya Taylor-Joy, Haley Lu Richar...",2016,117,7.3,157606,138,62.0
Sing,4,"Animation,Comedy,Family","In a city of humanoid animals, a hustling thea...",Christophe Lourdelet,"Matthew McConaughey,Reese Witherspoon, Seth Ma...",2016,108,7.2,60545,270,59.0
Suicide Squad,5,"Action,Adventure,Fantasy",A secret government agency recruits some of th...,David Ayer,"Will Smith, Jared Leto, Margot Robbie, Viola D...",2016,123,6.2,393727,325,40.0
The Great Wall,6,"Action,Adventure,Fantasy",European mercenaries searching for black powde...,Yimou Zhang,"Matt Damon, Tian Jing, Willem Dafoe, Andy Lau",2016,103,6.1,56036,45,42.0
La La Land,7,"Comedy,Drama,Music",A jazz pianist falls for an aspiring actress i...,Damien Chazelle,"Ryan Gosling, Emma Stone, Rosemarie DeWitt, J....",2016,128,8.3,258682,151,93.0
Mindhorn,8,Comedy,A has-been actor best known for playing the ti...,Sean Foley,"Essie Davis, Andrea Riseborough, Julian Barrat...",2016,89,6.4,2490,0,71.0
The Lost City of Z,9,"Action,Adventure,Biography","A true-life drama, centering on British explor...",James Gray,"Charlie Hunnam, Robert Pattinson, Sienna Mille...",2016,141,7.1,7188,8,78.0
Passengers,10,"Adventure,Drama,Romance",A spacecraft traveling to a distant colony pla...,Morten Tyldum,"Jennifer Lawrence, Chris Pratt, Michael Sheen,...",2016,116,7.0,192177,100,41.0

In [43]:
m_df.loc['Iron Man 2']

Rank                                                                451
Genre                                           Action,Adventure,Sci-Fi
Description           With the world now aware of his identity as Ir...
Director                                                    Jon Favreau
Actors                Robert Downey Jr., Mickey Rourke, Gwyneth Palt...
Year                                                               2010
Runtime (Minutes)                                                   124
Rating                                                              7.0
Votes                                                            556666
Revenue (Millions)                                                  312
Metascore                                                          57.0
Name: Iron Man 2, dtype: object

In [45]:
m_df.Rank[:2]

Title
Guardians of the Galaxy    1
Prometheus                 2
Name: Rank, dtype: int64

In [46]:
m_df.rename(columns={
    'Runtime (Minutes)': 'Runtime',
    'Revenue (Millions)': 'Revenue'
}, inplace=True)

m_df.columns

Index(['Rank', 'Genre', 'Description', 'Director', 'Actors', 'Year', 'Runtime',
       'Rating', 'Votes', 'Revenue', 'Metascore'],
      dtype='object')

In [47]:
m_df.head(0)

Empty DataFrame
Columns: [Rank, Genre, Description, Director, Actors, Year, Runtime, Rating, Votes, Revenue, Metascore]
Index: []

In [48]:
#Find non available values 

m_df.isnull().sum()

Rank            0
Genre           0
Description     0
Director        0
Actors          0
Year            0
Runtime         0
Rating          0
Votes           0
Revenue         0
Metascore      64
dtype: int64

In [49]:
#Drop non available values with column

m_df.dropna(axis=1) #inplace = true

,Rank,Genre,Description,Director,Actors,Year,Runtime,Rating,Votes,Revenue
Title,,,,,,,,,,
Guardians of the Galaxy,1,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,James Gunn,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...",2014,121,8.1,757074,333
Prometheus,2,"Adventure,Mystery,Sci-Fi","Following clues to the origin of mankind, a te...",Ridley Scott,"Noomi Rapace, Logan Marshall-Green, Michael Fa...",2012,124,7.0,485820,126
Split,3,"Horror,Thriller",Three girls are kidnapped by a man with a diag...,M. Night Shyamalan,"James McAvoy, Anya Taylor-Joy, Haley Lu Richar...",2016,117,7.3,157606,138
Sing,4,"Animation,Comedy,Family","In a city of humanoid animals, a hustling thea...",Christophe Lourdelet,"Matthew McConaughey,Reese Witherspoon, Seth Ma...",2016,108,7.2,60545,270
Suicide Squad,5,"Action,Adventure,Fantasy",A secret government agency recruits some of th...,David Ayer,"Will Smith, Jared Leto, Margot Robbie, Viola D...",2016,123,6.2,393727,325
...,...,...,...,...,...,...,...,...,...,...
Secret in Their Eyes,996,"Crime,Drama,Mystery","A tight-knit team of rising investigators, alo...",Billy Ray,"Chiwetel Ejiofor, Nicole Kidman, Julia Roberts...",2015,111,6.2,27585,0
Hostel: Part II,997,Horror,Three American college students studying abroa...,Eli Roth,"Lauren German, Heather Matarazzo, Bijou Philli...",2007,94,5.5,73152,18
Step Up 2: The Streets,998,"Drama,Music,Romance",Romantic sparks occur between two dance studen...,Jon M. Chu,"Robert Hoffman, Briana Evigan, Cassie Ventura,...",2008,98,6.2,70699,58
Search Party,999,"Adventure,Comedy",A pair of friends embark on a mission to reuni...,Scot Armstrong,"Adam Pally, T.J. Miller, Thomas Middleditch,Sh...",2014,93,5.6,4881,0
Nine Lives,1000,"Comedy,Family,Fantasy",A stuffy businessman finds himself trapped ins...,Barry Sonnenfeld,"Kevin Spacey, Jennifer Garner, Robbie Amell,Ch...",2016,87,5.3,12435,20

In [52]:
score = m_df.Metascore
score = round(score.mean(), 0)

In [53]:
score

59.0

In [57]:
m_df.Metascore.fillna(score, inplace=True)

In [62]:
m_df.Metascore.isnull().sum()

0